# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Yarn
yarn-error.log

# Coverage
coverage

# Dotenv files
!.env.example
.env*


